* text=auto !eol
/AUTHORS -text
/COPYING -text
/ChangeLog -text
/INSTALL -text
/Makefile.am -text
/NEWS -text
/README -text
/TODO -text
/apertium-fin-spa.fin-spa.dix -text
/apertium-fin-spa.fin-spa.lrx -text
/apertium-fin-spa.fin-spa.rlx -text
/apertium-fin-spa.fin-spa.t1x -text svneol=unset#application/xml
/apertium-fin-spa.fin-spa.t2x -text svneol=unset#application/xml
/apertium-fin-spa.fin-spa.t3x -text svneol=unset#application/xml
/apertium-fin-spa.spa-fin.lrx -text
/apertium-fin-spa.spa-fin.rlx -text
/apertium-fin-spa.spa-fin.t1x -text svneol=unset#application/xml
/apertium-fin-spa.spa-fin.t2x -text svneol=unset#application/xml
/apertium-fin-spa.spa-fin.t3x -text svneol=unset#application/xml
/configure.ac -text
/fin-spa.prob -text
/modes.xml -text svneol=unset#application/xml
/spa-fin.prob -text
texts/tarina.fin.txt -text
texts/tarina.spa.txt -text
*.dix linguist-language=XML linguist-detectable=true
*.lrx linguist-language=XML linguist-detectable=true
*.lsx linguist-language=XML linguist-detectable=true
*.tsx linguist-language=XML linguist-detectable=true
*.t[[:digit:]]x linguist-language=XML linguist-detectable=true
